<h1 class="italic">Oh the places you'll go...</h1>

<div id="map" class="flex-grow basis-full flex"></div>
<script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/map.js")}></script>
