<footer
  class="absolute bottom-0 px-4 py-2 min-h-10 w-full bg-slate-600 flex flex-wrap flex-row justify-around text-amber-200 underline"
>

  <a href="https://volunteer.fireflyartscollective.org/">Volunteer</a>
  <a href="https://www.fireflyartscollective.org/getting-ready/survival-guide/">Guide</a>
  <a href="https://airtable.com/shrrDNEUC657KRPCK">Report an Incident</a>
</footer>
