<nav
  class="flex flex-row justify-around h-10 bg-amber-100 border-b-2 border-yellow-200 text-cyan-700 children:ring-1 children:p-2 children:mt-0.5 children:bg-yellow-100"
>
  <a href="#">What</a>
  <a href="#">Where</a>
  <a href="#">When</a>
</nav>
