<ul>
<%= if @current_person do %>
  <li><%= @current_person.email %></li>
  <li><%= link "Settings", to: Routes.person_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.person_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: Routes.person_registration_path(@conn, :new) %></li>
  <li><%= link "Log in", to: Routes.person_session_path(@conn, :new) %></li>
<% end %>
</ul>
