<main class="mx-2.5 pt-1 min-w-[60%] max-w-5xl sm:mx-auto flex-grow basis-full flex flex-col">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
