<div class="inline-grid align-items-center justify-items-center md:mx-5 md:min-h-[60vh]">
  <span class="inline-grid col-start-1 row-start-1 row-end-1 justify-self-start whitespace-nowrap">
  <%= case @event.sober_friendly do %>
  <%  :yes ->    %> ✅ Sobriety Friendly
  <% :options -> %> ☑️ Sober Options
  <% :no ->      %> ❌ NO SOBER OPTIONS
  <% end %>
  </span>
  <span class="inline-grid col-end-4 md:col-end-4 row-start-1 justify-self-end whitespace-nowrap">
  <%= case @event.minimum_age do %>
  <% 0 -> %>
  👪 All ages
  <% n when n < 17 -> %> ⏳ Ages <%= n %> and up
  <% n when n == 18 -> %> 🔞 Adults only!
  <% n when n > 18 and n < 21 -> %> 🔞⏳ Adults <%= n %> and up
  <% n when n == 21 ->  %> 🍷 Adults 21 and up
  <% n when n > 21  -> %> 🧓 Adults <%= n %> and up
  <% end %>
  </span>

  <h1 class="grid row-start-2 col-start-1 col-span-2text-2xl font-semibold md:text-4xl justify-self-center"><%= @event.name %></h1>
  <span class="self-center grid text-md row-start-2 col-start-3 md:row-start-3 md:col-start-auto md:col-end-3"></span>
  <%= render_one(@event.category, EventCategoryView, "_pill.html", class: "self-center grid text-md row-start-2 col-start-3 md:col-start-2 h-fit w-fit") %>

  <span class="inline-grid row-start-3 justify-self-start whitespace-nowrap">
  <strong>Date:</strong> <%= Timex.format!(@event.start_date, "{WDfull},
  {Mfull} {D}") %></span>
  <span class="inline-grid row-start-4 md:col-end-2 col-start-1 justify-self-start whitespace-nowrap"><strong>Time:</strong> <%= if @event.start_time, do:
  Timex.format!(NaiveDateTime.to_time(@event.start_time), "{h12}:{m} {am}"),
  else: "All Day"%>
  </span>
  <span class="inline-grid row-start-3 col-end-4 md:col-end-3 justify-self-end md:justify-self-center">
  <strong>Hosted by:</strong> <%= case Event.owner(@event) do %>
    <% %WhatWhereWhen.People.Person{} = p -> %>
      <%= if(@current_person && @current_person.id == p.id) do %>
        You! <%= button "Edit", to: Routes.person_event_path(@conn, :edit, @event.id), method: :get, class: "h-min w-min"  %>
      <% else  %>
        <%= WhatWhereWhen.People.Person.name(p) %>
      <% end %>
    <% %WhatWhereWhen.ThemeCamps.Camp{} = c -> %>
      <%= if(@current_person && @current_person.camp && @current_person.camp.id  == c.id) do %>
        Your Camp! <%= button "Edit Event", to: Routes.camp_event_path(@conn, :edit, @current_person.camp.id, @event.id), method: :get, class: "h-min w-min"  %>
      <% else  %>
        <%= link c.name,  to: Routes.camp_path(@conn, :show, c.id) %>
      <% end %>
    <% end %>
  </span>

  <p class="row-start-5 col-span-3 md:col-span-2 md:min-w-[40vw] md:max-w-[60vw]"><%= @event.description %></p>

  <%= if @event.location.description do %>
  <p class="mt-4 row-start-6 col-span-3 md:col-span-2 justify-self-start md:min-w-[40vw] md:max-w-[60vw]"><strong>Located at:</strong> <%= @event.location.description %></p>
  <% end %>
  <%= if @event.location.lat do %>
  <div id="map" class="min-h-[40vh] min-w-[95vw] md:min-h-0 md:min-w-[40vw] md:max-w-[50vw] mt-4 grid row-start-7 md:row-start-2 col-span-3 md:col-span-1 md:row-span-5 ring-4"></div>
  <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/map.js")}></script>
  <script type="text/javascript">
  (function() {
    var lat = <%= @event.location.lat %>;
    var lng = <%= @event.location.lng %>;
    var emoji = "<%= @event.category.emoji.unicode %>";

    var mapContainer = document.getElementById("map");
    mountMap(mapContainer);

    var waitingForMap = setInterval(function () {
      if (window.map === undefined) {
        return;
      }

      clearInterval(waitingForMap);

      L.marker({lat: lat, lng: lng}, {
          icon: L.divIcon({
            html: '<span class="emoji-map-marker">' + emoji + "</span>",
          })
      }).addTo(map);

      map.flyTo({lat: lat, lng: lng});
    });
  })();
  </script>

  <% end %>

</div>
